.sidebar-container {
    display: none;
    position: absolute;
    right: 0;
	padding-right: 10px
}

.sidebar {
    display: flex;
	flex-direction: row;
	background-color: black;
	height: 80px;
	width: 20vw;
	align-items: center;
	justify-content: space-around;
}
.link, .logout-btn {
	min-width: 6vw;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.logout-btn {
	background-color: transparent;
	border: none;
}

.show {
	display: flex;
}

.close-btn {
	width: 30px;
	color: #ffffff;
	background-color: black;
	font-weight: bold;
	border: none;
	font-size: 25px;
	cursor: pointer;
}
