.cart-container .cart-footer {
	display: flex;
	flex-direction: column;
}

.cart-container {
	min-height: calc(100vh - 150px);
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
}

.checkout-btn {
	font-size: 30px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	color: white;
	background-color: rgb(74, 83, 255);
	cursor: pointer;
	border: none;
	padding: 10px;
}

.empty-cart {
	display: flex;
	justify-content: center;
	align-items: center;
    height: calc(100vh - 160px);
}


.cart-book-detail-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 10px;
	margin-top: 10px;
}

.total-price {
	padding: 20px;
	margin: 0 auto;
}
